
:root {
	@extend %Montserrat-400;
	font-size: 16px;
   color: $main-color;
   scroll-behavior: smooth;
 }

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
  }


  .logo{
	gap: 8px;
	display: flex;
	align-items: center;
	z-index: 200;
}
  .logo__img{
   width: 32px;
	height: 32px;

}
  .logo__text{
	color: #000;
	font-size: 20px;
	@extend %Montserrat-500 ;
}


.show{
	display: block;
}
.hide{
	display: none;
}

