
//header/////////////////////////////////////////

.header{
   background-color: #ffffff;
	position: fixed;
	height: 140px;
	right: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0px 5px 12px -3px rgba(147, 96, 96, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	transition: all .3s;
} 

.header__wrapper{
	display: flex;
	justify-content: space-between;
   align-items: center;
	padding: 15px 0 0;
	position: relative;
}
.header__wrapper--line::after{
	position: absolute;
	content: '';
	bottom: -20px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	height: 1px;
	background-color: #67a8f5;
	z-index: 250;
}


.header--top{
	height: 70px;
}

.header__contacts{
	display: flex;
	align-items: center;
	gap: 50px;
	position: relative;
	transition: all .3s;
}

.header__contacts--top{
	top: -100px;
	
}

.header__phones a{
   color: #000;
}

.header__social-list{
	display: flex;
	gap: 15px;
	align-items: center;
}

.header__social-list >li {
	height: 25px;
	width: 25px;
	transition: all .3s;
}

.header-social__link--color{
	transition: all .3s;
}

.header__social-list >li:hover{
	transform: scale(1.2);
	.header-social__link--color{
		fill:#a09f9e!important;
	}
}




.menu{
	position: relative;
	top: 40px;
}
.menu__list{
	display: flex;
	justify-content: space-between;
}

.menu--top{
	display: flex;
	justify-content: center;
	top: -30px;
}

.menu__list--top{
	gap: 30px;
	justify-content: stretch;
}


.menu__list-link{
	color: #000;
	font-size: 14px;
	transition: all .2s;
	@extend %Montserrat-500;
}
.menu__list-link:hover{
   color: #f6b81a;
}
.menu__list-link--size{
	font-size: 12px;
	@extend %Montserrat-700;
}

.header__btn {
	@extend %Montserrat-500;
	width: 140px;
	height: 40px;
	border: none;
	outline: none;
	color: #ffffff;
	cursor: pointer;
	position: relative;
	z-index: 200;
	border-radius: 5px;
}

.header__btn:before {
	content: '';
	background: linear-gradient(45deg, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb);
	position: absolute;
	top: -2px;
	left:-2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
}

.header__btn:active {
	color: #000
}

.header__btn:active:after {
	background: transparent;
}

.header__btn:hover:before {
	opacity: 1;
}

.header__btn:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f6b81a;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% { background-position: 0 0; }
	50% { background-position: 400% 0; }
	100% { background-position: 0 0; }
}

///////////////////////////////////////////////


// section Top/////////////////////////////////
.top{
	min-height: 100vh ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% ;
	background-image: url('../img/background/top/topBg3.jpg');
	border-bottom: 4px solid #f6b81a;
}


.top__content{
	position: absolute;
	@extend %Montserrat-700;
	color: #01A5F9;
	top: 30%;
	left: 55%;
	transform: translateX(-60%);
	width: max-content;
}

.top__content-title{
	font-size: 44px;
	line-height: 50px;
}
.top__content-desk{
	font-size: 26px;
	line-height: 30px;
}

.top__wrapper{
	position: relative;
	height: 100vh;
}

.top__picture--package{
	width: 300px;
	height: auto;
	left: -25px;
	bottom: 9%;
	object-fit: contain;
}

.top__picture--management{
	height: 300px;
	max-width: 350px;
	top: 64%;
	left: 40%;
	transform: translate(-50%,-50%);
}
.top__picture,.top__integration{
	position: absolute;
}

.top__picture--integration{
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	top: 57%;
	left: 22%;
}

.top__integration{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: contain;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.top__integration--onliner{
	top: 48%;
	left: 69%;
}


.top__integration--gear{
	top: 37%;
	left: 84%;
}

.top__integration--adata{
	top: 47%;
	left: 79%;
	
}
.top__integration--bamper{
	top: 67%;
	left: 68%;
}

.top__integration--kufar{
	top: 58%;
	left: 59%;
}
.top__integration--lsfusion{
	top: 34%;
	left: 66%;

}
.top__integration--waldberris{
	top: 74%;
   left: 56%;
}

.top__integration--ozon{
	top: 60%;
    left: 78%;
}

.top__integration--av-by{
	top: 48%;
	left: 88%;
}
.top__integration--carro{
	top: 30%;
	left: 94%;
}

.top-service{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:#01a6f99d;
	padding: 25px 0 ;
}

.top-service__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.top-service__desc{
	position: relative;
   max-width: 60%;
	@extend %Montserrat-700;
	line-height: 22px;
	color: #fff;
	padding-left: 70px;
}
.top-service__desc::before{
	position: absolute;
	content: "";
	display: inline-block;
	position: absolute;
	background: url('../img/icons/top/call.png') no-repeat;
	background-size: contain;
	height: 70px;
	width: 70px;
   left: -12px;
	top: -2px;
}

.top-service__btn{
	background-color:#f6b81a;
	@extend %Montserrat-500;
	border: none;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 40px;
	border-radius: 10px;
	border: 2px solid #c59315;
	transition: all .3s;
}
.top-service__btn:hover{
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/////Product//////////////////////////////////////


.product{
	padding: 150px 0 100px;
	background-color: rgba(175, 204, 209, 0.2);
}
.product__title{
	@extend %Montserrat-700;
   font-size: 45px;
   font-weight: bold;
   margin-bottom: 25px;
   text-align: center;
   color: #67a8f5;;
}
.product__desc{
	font-size: 1.5em;
	display: block;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}


/////Integration//////////////

.integration{
	padding: 100px 0 100px;
}
.integration__title{
	position: relative;
	font-size: 45px;
	@extend %Montserrat-700;
	margin-bottom: 50px;
   text-align: center;
}

.integration__title::after{
	position: absolute;
	content: '';
	width: 80%;
	height: 3px;
	background-color: #efb63e;
	bottom: -25px;
	left: 50%;
	border-radius: 25px;
	transform: translateX(-50%);
}

.integration__desc{
	@extend %Montserrat-500;
	color: #474747;
	font-size: 18px;
	display: block;
	max-width: 70%;
	margin: 0 auto;
	margin-bottom: 80px;
	text-align: center;
}
.integration-cards{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 25px;
}

.integration-cards__item{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 10px;
	text-align: center;
	border: 3px solid  #efb63e;
	border-radius: 5px;
}
.integration-cards__title{
	color:  #f6b81a;
	@extend %Montserrat-700;
}
.integration-cards__img{
	height: 250px;
	object-fit: cover;
	margin-bottom: 10px;
}
.integration-cards__desc{
	@extend %Montserrat-500;
	color: #000;
}

// marketplace

.marketplace{
	padding: 50px 0 80px;
	background-color: #01a6f91b;
}

.marketplace__title{
	color: #01A5F9;
	font-size: 32px;
	margin-bottom: 50px;
   text-align: center;
}
.marketplace__wrapper{
	position: relative;
}

.swiper-container{
	width: 80%;
}

.swiper-slide{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
}

.swiper-slide__img{
	width: 150px;
	height: 100px;
	object-fit: contain;
}

.swiper-button-prev::after,.swiper-button-next::after{
	display: none;
}
.swiper-button-next__img,
.swiper-button-prev__img{
	width: 35px;
	height: 35px;
}
// order

.order{
	background-color: #1f5e1288;
	padding: 50px 0 240px;
	background-size: contain auto;
	background-size:  100% auto;
	background-position: center center;
	background-image: url('../img/background/order/orderBg.jpg');
}

.order__title{
	position: relative;
	color: #545454;
	font-size: 32px;
	margin-bottom: 80px;
   text-align: center;
	
}

.order__title::after{
	position: absolute;
	content: '';
	width: 90%;
	height: 3px;
	background-color: #f6b81a;
	bottom: -35px;
	left: 50%;
	border-radius: 25px;
	transform: translateX(-50%);
}

.order-list{
	height: 266px;
	display: flex;
	justify-content: space-around;
	
}
.order-list__item-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border: 4px solid  #f6b81a;
	border-radius: 25px;
	margin-bottom: 25px;
	transform: rotate(45deg);
}

.order-list__item-img{
	object-fit: cover;
	width: 70px;
	height: 70px;
	transform: rotate(-45deg);
}
.order-list__item{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 140px;
}

.order-list__item:nth-child(even) {
	align-self:flex-end;
	
}
.order-list__item:nth-child(even):not(:last-child)::after {
	position: absolute;
	content: url('../img/icons/order/arrow.png');
   transform: rotate(-45deg);
	right: -56px;
	top: -70px;
	
}
.order-list__item:nth-child(odd)::after {
	position: absolute;
	content: url('../img/icons/order/arrow.png');
   transform: rotate(45deg);
	right: -57px;
   top: 66px;

}

.order-list__item-desc{
	position: absolute;
	color: #545454;;
	font-size: 14px;
	height: 100px;
	@extend %Montserrat-700;
}

.order-list__item:nth-child(even)>.order-list__item-desc {
	bottom: -95px;
	height: 100px;
	
}
.order-list__item:nth-child(odd)>.order-list__item-desc {
	top: 120px;

	
}

// cases

.cases{
	padding: 50px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url('../img/background/cases/casesBg.png');
}

.cases__title{
	font-size: 32px;
	margin-bottom: 50px;
   text-align: center;
	color: #545454;
}

.cases__list{
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.cases__list-item{
	display: flex;
	padding: 35px;
	border-radius: 5px;
	background-color: #01a6f97e;
	gap: 50px;
}
.cases__logo-box{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: #E6F4F9;
	flex-basis: 400px;
	height: 150px;
	padding: 10px;
	flex-shrink: inherit;
}
.cases__item-logo{
	object-fit: contain;
}
.cases__item-title{
	color: #014a6efb;
	font-size: 18px;
	@extend %Montserrat-700;
	margin-bottom: 10px;
}
.cases__item-desc{
	@extend %Montserrat-500;
	margin-bottom: 10px;
}
.cases__item-choice{
	@extend %Montserrat-500;
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
	color: #545454;
	margin-bottom: 20px;
}

.cases__item-choice::before{
	position: absolute;
	content: "";
	display: inline-block;
	position: absolute;
	background: url('../img/icons/cases/checkbox.png') no-repeat;
	background-size: contain;
	height: 22px;
	width: 22px;
   left: 0;
	top: -2px;
}
.cases__item-btn{
	padding: 10px 45px;
	border-radius: 5px;
	@extend %Montserrat-500;
	font-size: 18px;
	color: #00a8fc;
	background-color: #ffffff;
   border: 2px solid #00a8fc;
	cursor: pointer;
	transition: all .3s;
}
.cases__item-btn:hover{
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}




// for-whom//////////////////////////////////

.for-whom{
   padding: 50px 0 210px;
   background-color: rgb(241 235 235 / 96%);
}

.for-whom__title{
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 85px;
   text-align: center;

}
.for-whom__wrapper{
	margin-bottom: 50px;
}

.company-processes__title{
	line-height: 1.2em;
	font-weight: bold;
	font-size: 40px;
	max-width: 500px;
}

.for-whom__list{
	display: flex;
	justify-content: space-between;
   margin-bottom: 50px;
}

.for-whom__list-item{
   text-align: center;
   padding: 10px 20px;
   max-width: 350px;
	transition: all .5s;
	border-radius: 25px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.for-whom__list-item img{
	margin: 0 auto;
	margin-bottom: 25px;
}
.for-whom__subtitle{
	margin-bottom: 25px;
}

.for-whom__btn{
display: flex;
justify-content: center;
margin-bottom: 50px;
}



////Company-processes////

.company-processes{
position: relative;
}
.company-processes__wrapper{
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	height: auto;
	background-color: #ffd500;
	padding: 45px 55px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 25px;
}
.company-processes__item{
	display: flex;
	flex-direction: column;
}
.company-processes__item:first-child{
	flex: 1 0 60%;
}

.company-processes-card{
	display: flex;
	align-items: center;
	padding: 30px;
	border-radius: 25px;
	background-color: #fff;

}
.company-processes-card:first-child{
	margin-bottom: 25px;
}

.company-processes-card__icon{
	width: 50px;
	height: 50px;
	margin-right: 20px;
}
.company-processes-card__title{
	font-weight: 800;
	margin-bottom: 15px;
}


.about{
padding: 350px 0 100px;
	

}

///section about///


.about__title{
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 85px;
   text-align: center;
}

.about__wrapper{
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	grid-column-gap: 5em;
	margin-bottom: 100px;
}
.about__inner p{
	font-size: 1.2em;
	line-height: 1.4em;
	color:#414042; ;
}
.about__inner p:not(:last-child){
margin-bottom: 25px;
}

.about__inner:last-child{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about__logo{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	font-size: 1em;
}
.about__logo img{
	margin-right: 5px;
}
.representative{
	color: #58595b;
	line-height: 22px;
}
.about__inner .representative{
	text-align: center;
}



///////////////////////////
/// 
/// 
/// 



.about-cards__wrapper{
	width: 100%;
 }
 
 .cols{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
 }
 
 .col{
	width: calc(30% - 2rem);
	margin: 1rem;
	cursor: pointer;
 }
 
 .about-cards__container{
	transform-style: preserve-3d;
	perspective: 1000px;
 }
 
 .front img{
	display: inline-block;
	width: 200px;
	height: 200px;
 }

.front__inner{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	// width: 100%;
}
.front__inner img{
  object-fit: contain;
}
 .front,
 .back{
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
	border-radius: 10px;
	 background-position: center;
	 transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	 backface-visibility: hidden;
	 text-align: center;
	 height: 300px;
	 border-radius: 10px;
	 color: #fff;
	 font-size: 1.2rem;
	 padding: 15px;
 }
 
 .back{
	background: #cedce7;
	background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
 }
 
 .front:after{
	 position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  width: 100%;
	  height: 100%;
	  content: '';
	  display: block;
	  opacity: .6;
	//   background-color: #000;
	  backface-visibility: hidden;
	  border-radius: 10px;
 }
 .about-cards__container:hover .front,
 .about-cards__container:hover .back{
	  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
 }
 
 .back{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
 }
 
 .inner{
	  transform: translateY(-50%) translateZ(60px) scale(0.94);
	  top: 50%;
	  position: absolute;
	  left: 0;
	  width: 100%;
	  padding: 2rem;
	  box-sizing: border-box;
	  outline: 1px solid transparent;
	  perspective: inherit;
	  z-index: 2;

 }
 
 .about-cards__container .back{
		transform: rotateY(180deg);
		transform-style: preserve-3d;
 }
 
 .about-cards__container .front{
	   transform: rotateY(0deg);
		transform-style: preserve-3d;
 }
 
 .about-cards__container:hover .back{
	   transform: rotateY(0deg);
		transform-style: preserve-3d;
 }
 
 .about-cards__container:hover .front{
	   transform: rotateY(-180deg);
		transform-style: preserve-3d;
 }
 
 .front .inner p{
	font-size: 2rem;
	margin-bottom: 2rem;
	position: relative;
 }
 
 .front .inner p:after{
	content: '';
	width: 4rem;
	height: 2px;
	position: absolute;
	background: #C6D4DF;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -.75rem;
 }
 
 .front .inner span{
	color: rgba(255,255,255,0.7);
	font-weight: 300;
 }
 
///why-us///////////////////////
.why-us{
	padding: 100px 0 150px;
	background-color: rgba(205, 205, 205, 0.53);

}
.why-us__wrapper{
	box-shadow: 0px 0px 12px -3px rgba(249, 236, 236, 0.96), -3px 0px 15px -3px rgba(0, 0, 0, 0.4);
	padding: 100px 25px;
	border-radius: 25px;
	border: 5px solid rgb(0 0 0 / 15%);
	background-color: #fff;
}
.why-us__title{
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 85px;
   text-align: center;
}

.why-us__list{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);
   grid-gap: 3em;


}

.why-us__item{
	display: flex;
	border-radius: 25px;
	box-shadow:  0px 6px 8px -3px rgba(147, 96, 96, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
	padding: 25px;
	transition: all .3s;
}
.why-us__item:hover{
transform: scale(1.02);
}
.why-us__item img{
	max-width: 120px;
	margin-right: 25px;
}
.why-us__item-text{
	display: flex;
	flex-direction: column;
}
.why-us__item-subtitle{
	font-weight:800;
	font-size: 1.5em;
	margin-bottom: 15px;
}



///our-clients////////


.our-clients{
	padding: 100px 0;
	background-color: #ffd500;
}
.our-clients__title{
	font-size: 42px;
	font-weight: bold;
	max-width: 60%;
   padding: 0 0 80px;
   text-align: center;
	margin: 0 auto;
}

.our-clients__list{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap:  50px;
}
.our-clients__img{
	max-height: 62px;
	max-width: 100%;
	margin-right: 15px;
}
.our-clients__list-item{
	display: flex;
background-color: #fff;
	align-items: center;
	padding: 15px 25px;
   border-radius: 10px;
	box-shadow:  0px 6px 8px -3px rgba(147, 96, 96, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
}

// price////////////////////

.price{
  padding: 100px 0;
  color: white;
  background-color: #000000a1;
}

.price__title{
	font-size: 42px;
	font-weight: bold;
   text-align: center;
	margin-bottom: 25px;
}
.prices__desc{
   text-align: center;
}

///technologies////////


.technologies{
	padding: 100px 0 150px;
	// max-height: 100vh;
}

.technologies__title{
	font-size: 42px;
	font-weight: bold;
   text-align: center;
	margin-bottom: 25px;
}

.technologies__desc{
	text-align: center;
	margin-bottom: 50px;
}

.technologies__list{

	display: grid;
	grid:repeat(2,1fr) /repeat(3,1fr);
	grid-gap: 60px;
}


.technologies__list-item{
	position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
	border-radius: 15px;
	box-shadow:  0px 6px 8px -3px rgba(147, 96, 96, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
	text-align: center;
	padding: 25px;
	
}

.technologies__img{
	height: 70px;
	line-height: 70px;
	margin-bottom: 25px;
}

.technologies__number{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.technologies__item-title{
	margin-bottom: 35px;
}

// try/////////////////////////////

.try{
	padding: 160px 0 160px;
	background: #ffd63b;
	position: relative;
}

.try__title{
	font-size: 42px;
	font-weight: bold;
   text-align: center;
	margin-bottom: 25px;
}
.try__desc-box{
	margin-bottom: 100px;
}
.try__desc{
	font-size: 1.4em;
	text-align: center;
	color: #58595b;;
}

.try__btns{
	display: flex;
	justify-content: center;
}

.try__btns-inner{
	position: relative;
	display: flex;
	gap: 50px;
}

.try__btns-inner::before{
	content: "";
	background-image: url('../img/icons/try/try-arr.png');
	position: absolute;
	bottom: 75%;
	right: 100%;
	width: 100px;
	height: 100px;
   background-repeat: no-repeat;
}


.clouds{
	position: relative;
	margin-top: 100px;
}
.clouds__back-img,.clouds__front-img{
	position: absolute;
   width: 100%;
}
.clouds__front-img{
	top: 10px;
}
.clouds__back-img{
	top: -60px;
	
}

// consultation//////////////


.consultation{
	padding: 150px 0 100px;
}

.consultation__title{
	font-size: 42px;
	font-weight: bold;
   text-align: center;
	max-width: 55%;
	margin: 0 auto;
	margin-bottom: 125px;
}

.consultation__box{
	display: flex;
	justify-content: space-around;
}

.consultation__item{
	display: flex;
	flex-direction: column;
	padding: 15px 10px;
}
.consultation__img{
height: 100px;
margin-bottom: 40px;
}

.consultation__btn{
	position: relative;
	border: none;
	font-size: 34px;
	cursor: pointer;
	background-color: transparent;
}

.consultation__btn::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 15px;
	background: #000;
	bottom: -5px;
	left: 0;
	background-color: #ff9a22;
   transition: all .4s;
}

.consultation__btn:hover::after{
	background-color: transparent;
}

.consultation__tel{
	font-size: 32px;
	font-weight: bold;
	color: inherit;
	transition: all .3s;
}


.consultation__tel:hover{
color: #ff9a22;
}


.consultation__tel:nth-child(2){
	margin-bottom: 10px;
}

// contacts//////////


.contacts{
	height: auto;
	background-color: #f00101;
	position: relative;
}

.contacts__inner{
	position: absolute;
   top: 50%;
   transform: translateY(-50%);
	padding: 70px;
	max-width: 550px;
	background-color: #fff;
	box-shadow: 0px 5px 12px -3px rgba(200, 192, 192, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
}

.contacts__title{
	text-align: center;
   color: #231f20;
	margin-bottom: 40px;
	font-size: 44px;
}

.contacts__inner div:not(:last-child){
  margin-bottom: 35px;
}
.contacts__adress-title{
	margin-bottom: 15px;
	// @extend %roboto-700;
}

.contacts__adress-title + address,.contacts__tel {
	color: #a6a7a6;
}


.contacts__phones address{
display: flex;
flex-direction: column;
	
}
.contacts__tel{
width: max-content;

}

.contacts__tel:not(:last-child){
	margin-bottom: 5px;
}

.contacts__email{
	display: flex;
	flex-direction: column;
}

.contacts__email > a{
color: #a6a7a6;
}

.contacts__email > a:not(:last-child){
	margin-bottom: 5px;
}

// footer//////////////////////

.footer{
	padding: 25px 0 0;
	color: #58595b;
	background-color: #131212;
}

.footer__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__item > .logo{
	margin-bottom: 25px;
}
.footer__item .logo span{
color: white;
}

.footer__item >.representative >.representative__text{
	color: #ffffffab
}

.footer-social__list{
	display: flex;
	gap: 10px;

}

.footer__more{
	margin-bottom: 15px;
}

.footer__top{
	padding: 0 0 25px;
}
.footer__more-link{
	display: block;
	text-align: center;
}

.footer-bottom{
	text-align: center;
	padding: 25px 0;
	background-color: #303030
}

.footer-social__list >li{
	transition: all .3s;
}

.footer-social__list >li:hover{
transform: scale(1.2);
}