
//header/////////////////////////////////////////

.header{
   background-color: #ffffff;
	position: fixed;
	height: 140px;
	right: 0;
	left: 0;
	z-index: 200;
	box-shadow: 0px 5px 12px -3px rgba(147, 96, 96, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	transition: all .3s;
	padding: 15px 0;
} 
.header__wrapper{
	position: relative;
	display: flex;
	justify-content: space-between;
   align-items: center;
}
.header__wrapper--line::after{
	position: absolute;
	content: '';
	bottom: -20px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	height: 1px;
	background-color: #67a8f5;
}
.header--top{
	height: 70px;
}
.header__contacts{
	display: flex;
	align-items: center;
	position: relative;
	transition: all .3s;
}
.header__phones{
	margin-right: 50px;
}
.header__contacts--top{
	top: -200px;
}

.header__phones a{
   color: #000;
}
.header__social--menu{
	display: none;
}

.social-list{
	display: flex;
	gap: 20px;
	align-items: center;
}
.social__item,.fa-brands{
	transition: all .3s;
}
.social__item:hover{
   transform: scale(1.2);
   .fa-brands{
	   color:#a09f9e !important;
 }
}

.header__btn {
	@extend %Montserrat-500;
	font-size: 12px;
	padding: 0 15px;
	width: auto;
	height: 40px;
	border: 1px solid #d69c0a;
	color: #ffffff;
	cursor: pointer;
	position: relative;
	z-index: 200;
	border-radius: 10px;
}

.header__btn:before {
	content: '';
	background: linear-gradient(45deg, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb, #f6b81a, #65a8eb);
	position: absolute;
	top: -2px;
	left:-2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
}

.header__btn:active {
	color: #000
}

.header__btn:active:after {
	background: transparent;
}

.header__btn:hover:before {
	opacity: 1;
}

.header__btn:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f6b81a;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% { background-position: 0 0; }
	50% { background-position: 400% 0; }
	100% { background-position: 0 0; }
}

.header-mobile{
	display: none;
}
.header-mobile__link{
	margin-right: 25px;
}

.header-mobile--menu{
	right:  0 !important;
}


.menu{
	position: relative;
	top: 45px;
}
.menu__list{
	display: flex;
	justify-content: space-around;
}

.menu--top{
	display: flex;
	justify-content: center;
	top: -26px;
}

.menu__list--top{
	gap: 30px;
	justify-content: stretch;
}
.menu__list-item--btn{
	display: none;
}
.menu__list-item--social{
	display: none;
}

.menu__list-link{
	text-transform: uppercase;
	display: block;
	color: #474646;
	font-size: 14px;
	transition: all .2s;
	@extend %Montserrat-500;
}
.menu__list-link:hover{
   color: #f6b81a;
}
.menu__list-link--size{
	font-size: 12px;
	@extend %Montserrat-700;
}

// section Top/////////////////////////////////
.top{
	min-height: 100vh ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	background-image: url('../img/background/top/topBg.png');
	border-bottom: 4px solid #f6b81a;
}


.top__content{
	position: absolute;
	@extend %Montserrat-700;
	color: #01A5F9;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
}

.top__content-title{
	font-size: 44px;
	line-height: 50px;
	
}
.top__content-desc{
	font-size: 26px;
	line-height: 30px;
}

.top__wrapper{
	height: 100vh;
	width: 100%;
	position: relative;
}

.top__item,.top__picture,.top__integration{
	position: absolute;
}

.top__item{
	bottom: 100px;
	left: 0;
	width: 20%;
	height: 250px;
}
.top__item:last-child{
	left: 250px;
	height: 350px;
	width: 80%;
}
.top__picture--package{
	height: 100%;
	left: 0px;
	bottom: 0px;
	object-fit: contain;
}

.top__picture--integration{
	width: 50px;
	height: 50px;
	right: 0;
	top: 0;
}

.top__picture--management{
	height: 300px;
	max-width: 350px;
	left: 30px;
	bottom: 5px;
}


.top__integration{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: contain;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.top__integration--waldberris{
   left: 44%;
	bottom:20px;
}

.top__integration--kufar{
	left: 53%;
	bottom: 100px;
}

.top__integration--bamper{
	left: 68%;
    bottom: 45px;
}

.top__integration--ozon{
   left: 84%;
	bottom: 120px;
}



.top__integration--onliner{
	left: 63%;
	bottom: 200px;
}


.top__integration--adata{
	left: 77%;
	bottom: 190px;
	
}

.top__integration--gear{
	top: 20px;
	left: 92%;
}






.top-service{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:#01a6f99d;
	padding: 25px 0 ;
}

.top-service__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.top-service__desc{
	position: relative;
   max-width: 60%;
	@extend %Montserrat-700;
	line-height: 22px;
	color: #fff;
	padding-left: 70px;
}
.top-service__desc::before{
	position: absolute;
	content: "";
	display: inline-block;
	position: absolute;
	background: url('../img/icons/top/call.png') no-repeat;
	background-size: contain;
	height: 70px;
	width: 70px;
   left: -12px;
	top: -2px;
}

.top-service__btn{
	background-color:#f6b81a;
	@extend %Montserrat-500;
	border: none;
	font-size: 12px;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid #c59315;
	transition: all .3s;
}
.top-service__btn:hover{
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/////Integration//////////////

.integration{
	padding: 100px 0 50px;
}
.integration__title{
	position: relative;
	margin-bottom: 50px;
   
}

.integration__title::after{
	position: absolute;
	content: '';
	width: 80%;
	height: 3px;
	background-color: #efb63e;
	bottom: -25px;
	left: 50%;
	border-radius: 25px;
	transform: translateX(-50%);
}

.integration__desc{
	@extend %Montserrat-500;
	color: #474747;
	font-size: 18px;
	line-height: 1.3em;
	display: block;
	max-width: 70%;
	margin: 0 auto;
	margin-bottom: 80px;
	text-align: center;
}
.integration-cards{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 25px;
}

.integration-cards__item{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 10px;
	text-align: center;
	border: 3px solid  #efb63e;
	border-radius: 5px;
}
.integration-cards__title{
	color:  #f6b81a;
	@extend %Montserrat-700;
}
.integration-cards__img{
	// height: 250px;
	// max-width: 100%;
	// object-fit: cover;
	margin-bottom: 10px;
}
.integration-cards__desc{
	@extend %Montserrat-500;
   line-height: 1.4em; 
}

// offer

.offer{
	padding: 50px 0;
}
.offer__title{
	@extend %Montserrat-700;
	margin-bottom: 80px;
	color: #545454;
}
.offer-slider{
	width: 100%;
}

.offer-pagination__box{
	margin-bottom: 25px;
}
.offer-pagination{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.offer__swiper-pagination-bullet{
	display: flex;
	align-items: center;
}
.offer-pagination__img{
	width: 80px;
}
.offer-pagination__desc{
	@extend %Montserrat-700;
	font-size: 14px;
}

.offer__swiper-pagination-bullet {
	border: 1px solid #efb63e;
	border-radius: 5px;
	cursor: pointer;
}

.offer__swiper-pagination-bullet-active{
	border-color: #01a5f9;
}

.offer-cards__item{
	border: 3px solid rgb(213, 213, 213);
	border-radius: 5px;
	padding: 25px;
}

.offer-cards__img{
	object-fit: cover;
   height: 180px;
	margin: 0 auto;
}

.offer-cards__title{
	text-align: center;
	@extend %Montserrat-700;
	font-size: 18px;
	margin-bottom: 25px;
}

.offer-pagination__list{
	display: flex !important;
}

.offer-cards__desc{
	@extend %Montserrat-500;
	text-align: center;
	margin-bottom: 25px;
}

.offer-card__list-item{
	position: relative;
	margin-bottom: 10px;
	padding-left: 30px;
}

.offer-card__list-item--plus{
	@extend %Montserrat-500;
}

.offer-card__list-item--plus::before{
	position: absolute;
   content: '';
	background: url('../img/icons/offer/plus.png') no-repeat;
	background-size: cover;
	left: 0;
	height: 20px; 
	width: 20px;
}

.offer-card__list-item--minus{
	@extend %Montserrat-500;
	color: #858181;
}

.offer-card__list-item--minus::before{
	position: absolute;
   content: '';
	background: url('../img/icons/offer/minus.png') no-repeat;
	background-size: cover;
	left: 0;
	height: 21px; 
	width: 21px;
}

// stages

.stages{
	padding: 50px 0 100px;
}

.stages__title{
	@extend %Montserrat-700;
	font-size: 45px;
	margin-bottom: 80px;
	text-align: center;
	color: #545454;
	max-width: 480px;
	margin: 0 auto;
	padding-bottom: 80px;
}

.stages-list{
	display: grid;
	grid-template: repeat(2, 1fr)/repeat(3, auto); 
	grid-gap: 25px;
}

.stages-list__item-num{
	font-size: 40px;
	color: #f6b81a;
	@extend %Montserrat-700;
	margin-bottom: 15px;
}
.stages-list__item-title{
	@extend %Montserrat-700;
	font-size: 18px;

	margin-bottom: 15px;
}
.stages-list__desc-item{
	position: relative;
	@extend %Montserrat-500;
	line-height: 1.5em;
	padding-left: 15px;
}

.stages-list__desc-item::after{
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
	width: 6px;
	height: 6px;
	background-color: #5d5b5b;
}
.stages-list__desc-item:not(:last-child){
   margin-bottom: 5px;
}

// marketplace

.marketplace{
	padding: 50px 0 80px;
	background-color: #01a6f91b;
}
.marketplace-slider{
	max-width: 80%;
}
.marketplace__title{
	color: #01A5F9;
	font-size: 32px;
	margin-bottom: 50px;
   text-align: center;
}
.marketplace__wrapper{
	position: relative;
	display: flex;
	justify-content: space-between;
}

.marketplace__slide-item{
	display: flex;
	justify-content: center;
}
.swiper-slide__img{
	max-width: 150px;
	height: 100px;
	object-fit: contain;
}

.swiper-button-prev::after,.swiper-button-next::after{
	display: none;
}
.swiper-button-next__img,
.swiper-button-prev__img{
	width: 35px;
	height: 35px;
}

// order

.order{
	padding: 50px 0 180px;
	background-size: contain;
	background-position: left center,right center;
	background-repeat: no-repeat;
	background-image: url('../img/background/order/order-left-2.png'),url('../img/background/order/ohder-righ-2.png');
}

.order__title{
	position: relative;
	color: #545454;
	font-size: 32px;
	margin-bottom: 80px;
   text-align: center;
}

.order__title::after{
	position: absolute;
	content: '';
	width: 90%;
	height: 3px;
	background-color: #f6b81a;
	bottom: -35px;
	left: 50%;
	border-radius: 25px;
	transform: translateX(-50%);
}

.order-list{
	height: 266px;
	display: flex;
	justify-content: space-around;
	
}
.order-list__item-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border: 4px solid  #f6b81a;
	border-radius: 25px;
	margin-bottom: 25px;
	transform: rotate(45deg);
}
.order-list__item-img{
	object-fit: cover;
	width: 70px;
	height: 70px;
	transform: rotate(-45deg);
}
.order-list__item{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 140px;
}

.order-list__item:nth-child(even) {
	align-self:flex-end;
}

.order-list__item:nth-child(even):not(:last-child)::after {
	position: absolute;
	content: '';
	background: url('../img/icons/order/arrow.png');
	background-size: cover;
   transform: rotate(-45deg);
	right: -56px;
	top: -70px;
	width: 100px;
	height: 100px;
}
.order-list__item:nth-child(odd)::after {
	position: absolute;
	content: '';
	background: url('../img/icons/order/arrow.png');
	background-size: cover;
   transform: rotate(45deg);
	right: -57px;
   top: 66px;
	width: 100px;
	height: 100px;
}

.order-list__item-desc{
	position: absolute;
	font-size: 14px;
	@extend %Montserrat-500;
}

.order-list__item:nth-child(even)>.order-list__item-desc {
	bottom: -95px;
	height: 100px;
}
.order-list__item:nth-child(odd)>.order-list__item-desc {
	top: 120px;
}

// cases

.cases{
	padding: 50px 0;
}

.cases__title{
	font-size: 32px;
	margin-bottom: 50px;
   text-align: center;
	color: #545454;
}

.cases-slide__item{
	max-width: 50%;
}

.cases-slide__title{
	position: relative;
	@extend %Montserrat-700;
	margin-bottom: 15px;
}
.cases-slide__desc,
.cases-slide__result-item {
	@extend %Montserrat-500;
	line-height: 24px;
}
.cases-slide__title::after{
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #000000;
	bottom: -10px;
}

.cases__slide-box{
	display: flex;
	justify-content: space-between;
}
.cases-slide__title--result {
	margin-top: 15px;
}

.cases-slide__logo{
	max-height: 40px;
}

.cases__pagination-box {
	margin-bottom: 80px;
}

.cases-pagination{
	display: grid;
	grid-template-columns: repeat(2,1fr);

}
.cases-pagination>li{
	display: flex;
	align-items: center;
	justify-content: center;
}
.cases-pagination>li>img{
	max-width: 200px;
}

.swiper-pagination-bullet {
	border: 3px solid rgb(198, 198, 198);
   height: auto;
	padding: 5px;
	border-radius: 5px;
	width: auto;
	opacity: 1;
	background: unset;
}
.swiper-pagination-bullet-active {
	border: 3px solid #01a5f9;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


// contacts//////////

.contacts{
	height: auto;
	position: relative;
}
.contacts__map{
	height: 700px;
}
.contacts__inner{
	position: absolute;
   top: 50%;
   transform: translateY(-50%);
	padding: 40px 30px;
	max-width: 550px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 5px 12px -3px rgba(200, 192, 192, 0.96), -3px 0px 15px -3px rgba(106, 44, 44, 0.4);
}

.contacts__title{
	@extend %Montserrat-500;
	text-align: center;
   color: #231f20;
	margin-bottom: 40px;
	font-size: 36px;
	
}

.contacts__inner div:not(:last-child){
  margin-bottom: 25px;
}
.contacts__adress-title{
	margin-bottom: 8px;
}

.contacts__adress-title + address,.contacts__tel {
	color: #a6a7a6;
}


.contacts__phones address{
	display: flex;
	flex-direction: column;
}
.contacts__tel{
	width: max-content;
}

.contacts__tel:not(:last-child){
	margin-bottom: 5px;
}

.contacts__email{
	display: flex;
	flex-direction: column;
}

.contacts__email > a{
	color: #a6a7a6;
	width: max-content;
}

.contacts__email > a:not(:last-child){
	margin-bottom: 5px;
}

// footer//////////////////////

.footer {

	background-color: $accent;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.footer__inner>.logo {
	@extend %Montserrat-500;
	display: flex;
	align-items: center;
	font-size: 18px;
}

.footer__logo-text {
	color: white;
}

.footer-social__list {
	display: flex;
}

.footer-social__item:not(:last-child) {
	margin-right: 10px;
}

.footer-social__list>li {
	transition: all .3s;
}

.footer-social__list>li:hover {
	transform: scale(1.2);
}
// modal
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
	max-width: 400px;
	margin: 5% auto;
	box-shadow: 0 0 10px #000000;
	border-radius: 20px;
}

.modal__content {
	position: relative;
	width: 100%;
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
}

.form__message {
	font-size: 18px;
	@extend %Montserrat-500;
	text-align: center;
}

.form__close {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
}

.form__title {
	@extend %Montserrat-700;
	text-align: center;
	font-size: 24px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.modal__close-img {
	width: 20px;
	height: 20px;
	transition: all .5s;
}

.modal__close-img:hover {
	transform: rotate(270deg);
}

.form label {
	display: flex;
	// @extend %quicksand-500;
	width: 100%;
	margin-bottom: 5px;

}

.form input,
.form textarea {
	width: 100%;
	margin-bottom: 25px;
	border-radius: 5px;
	min-height: 35px;
	padding: 5px 8px;
	border: 1px solid #e1e1e1;
	outline-color: #07060376;
	// @extend %quicksand-500;
}

.form input:focus,
.form textarea:focus {
	box-shadow: 0 0 10px #ffd63b;

}

.form textarea {
	resize: vertical;
	margin-bottom: 40px;
}

.form [type="submit"] {
	@extend %Montserrat-500;
	background-color: #f6b81a;
	display: block;
	margin: 0 auto;
	padding: 10px 35px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 10px #080805;
	transition: all .6s;
}

.form [type="submit"]:hover {
	box-shadow: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.fade {
	animation-name: Backgroundfade;
	animation-duration: .5s;
}

@keyframes Backgroundfade {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}